.profile-list-container {
    width: 850px;
}

.profile-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.profile-list {
    display: flex;
    gap: 15px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
}

.profile-picture-wrapper {
    padding: 8px;
}

.profile-wrapper {
    padding-top: 12px;
}

.profile-id {
    font-size: small;
}

.profile-title::after {
    content: '.';
}

.profile-details {
    display: flex;
    margin-top: 8px;
    gap: 5px;
}

.profile-title, .profile-name {
    font-size: small;
    font-weight: bold;
}